{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" class="">
        <title class="">Virtuosity</title>
        <link href="../static/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/css/virtuosity.css" rel="stylesheet" type="text/css"/>

        <style>
        body{
            padding-top: 10vh;
        }
        </style>
    </head>
    <body>

        <!-- NAVBAR this appears on every page -->
        <div id="pageheader" class="container-fluid fixed-top bg-white shadow" style="padding-bottom:1%">
            <div class="row my-2">
                <div class="col-3">
                    <!--<a href="#" class="float-left mr-3"><img src="https://via.placeholder.com/40x30"></a>-->
                    <!--<h4 class="companyName"><a href="#" class="">VIRTUOSITY</a></h4>-->
                    <a href="{{ url_for('main.index') }}"><div class="companyLogo"></div></a>
                </div>
                <div class="col-4">
                    
                    <form action="/results" method="post" name="search">
                            <div class="input-group md-form form-sm form-2 pl-0 searchbox" >
                                    <input type="text" class="form-control my-0 py-1 red-border" name="search_string" id="search_string"  placeholder="Search for Art, Artists or ongoing Auctions" aria-label="Search" method="POST" action = "search">
                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text red lighten-3"><i class="fas fa-search text-grey" aria-hidden="true" id="btnSearch"></i></span>
                                    </div>
                                </div>
                    </form>

                </div>
                {% if current_user.is_authenticated %}
                
                <div class="col-4 text-right loginblock">
                        <a href="{{ url_for('main.sell') }}">SELL</a> |
                        <a href="{{ url_for('main.buy') }}" style="padding-right:15px;">BUY</a>
                        <i class="fas fa-user "></i>
                        <a href="{{ url_for('main.item_manage') }}" id="li_link" class="pr-1">{{current_user.first_name.upper()}} {{current_user.last_name.upper()}}</a>
                        <a href="{{ url_for('auth.logout') }}">LOG OUT</a>
                    </div>
                {% else %}
                <div class="col-4 text-right loginblock">
                        <i class="fas fa-user "></i>
                        <a href="{{ url_for('auth.login') }}" id="li_link" class="pr-1">LOG IN</a>
                        <a href="{{ url_for('auth.register') }}">SIGN UP</a>
                    </div>
                {% endif %} 
                
            </div>
            <!--Navigation Menu-->
            <nav class="navbar navbar-expand-lg navbar-light borders navbar-custom hidenav">
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-custom" id="navbarSupportedContent">
                    <ul class="nav navbar-nav mx-auto">
                        {% if session['seller'] %}
                            <li class="nav-item highlight"><a class="nav-link py-0" href="#">SELLER PROFILE</a></li>
                            <li class="nav-item highlight"><a class="nav-link py-0" href="item_manage.html"><b>AUCTIONS</b></a></li>
                            <li class="nav-item highlight"><a class="nav-link py-0" href="#">GALLERY</a></li><div class="separator">|</div>
                            <li class="nav-item"><a class="nav-link py-0" href="#">INVENTORY</a></li>
                            <li class="nav-item"><a class="nav-link py-0" href="#">PRICING</a></li>
                            <li class="nav-item"><a class="nav-link py-0" href="#">ORDERS</a></li>
                            <li class="nav-item"><a class="nav-link py-0" href="#">FINANCE</a></li>
                            <li class="nav-item"><a class="nav-link py-0" href="#">OUR SERVICES</a></li>
                        {% else %}
                            <li class="nav-item highlight"><a class="nav-link py-0" href="{{ url_for('main.artists') }}">ARTISTS</a></li>
                            <li class="nav-item highlight"><a class="nav-link py-0" href="{{ url_for('main.auctions') }}">AUCTIONS</a></li>
                            <li class="nav-item highlight"><a class="nav-link py-0" href="{{ url_for('main.gallery') }}">GALLERY</a></li><div class="separator">|</div>
                            <li class="nav-item"><a class="nav-link py-0" href="{{ url_for('main.oilpainting') }}">OIL PAINTING</a></li>
                            <li class="nav-item"><a class="nav-link py-0" href="{{ url_for('main.print') }}">PRINT</a></li>
                            <li class="nav-item"><a class="nav-link py-0" href="{{ url_for('main.sculpture') }}">SCULPTURE</a></li>
                            <li class="nav-item"><a class="nav-link py-0" href="{{ url_for('main.watercolour') }}">WATERCOLOUR</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <!-- Main content -->
        </div>

        <!-- END NAVBAR this appears on every page -->

        {% block content %}
        
        {% endblock content %}

        <!-- Footer -->
        <footer class="page-footer font-small unique-color-dark pt-3">
            <!-- Footer Elements -->
            <div class="container">
                <!-- Call to action -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light" href="{{ url_for('auth.register') }}" role="button">Register for free</a>
                    </li>
                </ul>
                <!-- Call to action -->
            </div>
            <!-- Footer Elements -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© Virtuosity 2019
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <!-- Bootstrap core JavaScript -->
        <script src="../static/libraries/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="../static/libraries/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../static/libraries/fontawesome/all.min.js" type="text/javascript"></script>
        <script src="../static/libraries/jquery-easing/jquery.easing.min.js" type="text/javascript"></script>
        <script src="../static/js/virtuosity.js" type="text/javascript"></script>

    </body>
</html>




