{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% block content %}

<head>
    <style>
        body {
            padding-top: 20vh;
        }
    </style>
</head>

<div class ="text-center pb-4"><H1>SALES HISTORY</H1></div>

<div class="card-deck">
    <div class="row">
    {% for i in range(num_sales) %}
    {% if i % 3 == 0 %}
    </div>
    <div class="row">
    {% endif %}
        <div class="card mb-3 col-md-4 card border-secondary">
            <img src="../static/img/{{sales_info[i][2].image_address}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{sales_info[i][2].name}}</h5>
                <p class="card-text">{{sales_info[i][2].description}}</p>
                <p class="card-text"><b>Sale date:</b> {{dates[i]}}</p>
                <p class="card-text"><b>Sold To:</b> {{sales_info[i][1].first_name}} {{sales_info[i][1].last_name}}</p>
                <p class="card-text"><b>Price:</b> ${{sales_info[i][2].price}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}