{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% block content %}


<head>
    
    <style>
        body {
            padding-top: 20vh;
        }

        .carousel-item>.container {
            height: 460px;

        }

        .mybottom {
            position: absolute;
            bottom: 0;
            padding-bottom: 5px;
        }
    </style>
</head>
<div class="container">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }} Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}


    <div class="row mt-5 py-4 h-auto">
        <div class="col md-12">
            <div id="accountMake" class="carousel slide" data-interval="false">

                <!-- Wrapper for slides -->
                <form id="regform" class="" action="/register" method="post" validate>
                    <div class="carousel-inner">
                            
                        <h1>Register:</h1>
                        
                        <div class="carousel-item active pb-5">
                            <div class="container">
                                {{ f1.hidden_tag() }}
                                <div class="row">
                                    <div class="col-6">
                                        {{ wtf.form_field(f1.first_name) }}
                                    </div>
                                    <div class="col-6">
                                        {{ wtf.form_field(f1.last_name) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {{ wtf.form_field(f1.email_id) }}
                                    </div>
                                    <div class="col-12">
                                        {{ wtf.form_field(f1.phone_number) }}
                                    </div>
                                    <div class="col-12">
                                        {{ wtf.form_field(f1.password) }}
                                    </div>
                                    <div class="col-12">
                                        {{ wtf.form_field(f1.confirm) }}
                                    </div>
                                    <div class="col-12 mybottom">
                                        <button class="nextbtn" type="button" class="btn">NEXT</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item pb-5">
                            <div class="container">
                                {{ wtf.form_field(f1.biography, rows="7") }}
                                <div class="col-12 mybottom">
                                    <button class="prevbtn" type="button" class="btn">PREV</button>
                                    <button class="prevbtn btn btn-primary" >Submit</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>



            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $(".nextbtn").click(function () {
            $("#accountMake").carousel('next');

        });
        $(".prevbtn").click(function () {
            $("#accountMake").carousel('prev');

        });
        $('#regform').submit( function(){
            if($('#password').val()!=$("#confirm").val())
            {
                $("#accountMake").carousel(0);
                $("#confirm").css('border-color','#FF0000');
                alert("passwords do not match");
                
                return false;
            }
        });
    });

</script>
{% endblock %}